.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

ul {
  display: flex;
  gap: 30px;
  flex-direction: column;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 0;
}

li {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 7px;
  padding: 0 20px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

h2 {
  width: 100%;
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #363636;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 7px;
  height: 30px;
  color: white;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 20px;
  height: 20px;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}